<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>人脸对比</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">

</head>
<body>
<div class="container">
    <div class="row col-md-4 col-md-offset-4"></div>
</div>
<video id="video" width="480" height="480" controls></video>
{#<p>#}
{#    <button id="capture">拍照</button>#}
{#</p>#}
{#<canvas id="canvas" width="480" height="320"></canvas>#}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>

    $(document).ready(function () {
        var video_elemwnt = document.getElementById('video');
        navigator.mediaDevices.getUserMedia({
            audio: false,
            video: {width: 1280, height: 720}
        }).then(function success(stream) {
            console.log(stream);
            video_elemwnt.srcObject = stream;
            video_elemwnt.play();
        }).catch(function error(err) {
            console.log(err);
        });

        var canvas = document.createElement('canvas');
        canvas.width = '400';
        canvas.height = '300';
        var ctx = canvas.getContext('2d');

        var count = 0;              //用于登录计数

        function paizhao() {
            ctx.drawImage(video_elemwnt,0,0,400,300);  //把当前视频画到canvas画布上
            img = canvas.toDataURL("image/png");   // 这里把视频流转换成，base64位
            console.log(img,'==============img');


            // 这里把获取到的base64位的信息用ajax发送到后端
            function send_ajax() {
                console.log('1111111111===ajax');
                $.ajax({
                    type: 'POST',
                    url: "http://192.168.1.9:8000/img/info",
                    dataType: 'json',
                    data: {"img_b64": img},
                    success: function (msg) {
                        var ai_result = msg["ai_result"];
                        console.log(ai_result);

                        if (ai_result == 'success'){
                            console.log('跳转呀！！！！考试首页');
                            location.href = '/exam/index'

                        }

                        {#console.log(ai_result);#}
                        count += 1;
                        console.log(count);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }
            send_ajax();
            if (count==9){
                clearInterval(interval)
            }

        };

        var interval = setInterval(paizhao,1000);
    })




</script>
</body>


</html>